.flipInX {
  backface-visibility: visible !important;
  animation-name: flipInX;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.bounceOutLeft {
  animation-name: bounceOutLeft;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.bounceOutLeft2 {
  animation-name: bounceOutLeft2;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.bounceInRight {
  animation-name: bounceInRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.completed {
  background-color: #1EA1FF;
}

.completed .delete {
  fill: #FFFFFF;
}

.completed .setting {
  fill: #FFFFFF;
}

.completed span {
  display: block;

  border-color: #FFFFFF;
  background-image: url("./images/tick.svg");
  background-repeat: no-repeat;
  background-size: 9px;
  background-position: center;
}

.completed .todo__title {
  color: #FFFFFF;

  text-decoration: line-through;
}

.completed input.todo__title {
  outline: #FFFFFF 2px solid;
}

.active {
  color: #FFFFFF !important;
  background-color: #1EA1FF !important;
}

.bounceIn {
  animation-name: bounceIn;
  animation-duration: 0.75s;
  animation-fill-mode: both;
}

@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    transform: perspective(400px);
  }
}

@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(30px, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(-700px, 0, 0);
  }
}

@keyframes bounceOutLeft2 {
  20% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}

@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translate3d(-1000px, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceIn {
  100%, 20%, 40%, 60%, 80%, 0% {
    animation-timing-function: cubic-bezier(0.215, .61, .355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}