.flipInX {
  backface-visibility: visible !important;
  animation-name: flipInX;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.bounceOutLeft {
  animation-name: bounceOutLeft;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.completed {
  background-color: #622994;
}

.completed .delete {
  fill: #FFFFFF;
}

.completed .setting {
  fill: #FFFFFF;
}

.completed .todo__title {
  color: #FFFFFF;

  text-decoration: line-through;
}

.tada {
  animation-name: tada;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    transform: perspective(400px);
  }
}

@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

@keyframes tada {
  0% {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}